.custom-theme-02 {
  --text-color: rgb(255, 255, 255);
  --color-song: rgb(255, 255, 255);
  --background-scroll-thumb: #000000;
  --primary-color: #ca13e2;
  --background-btn-play: linear-gradient(to top, #6d0d58, #5c094a, #620fa7);
  --background-scroll-bar: linear-gradient(to top, #911391, #dbd3d3);
  --background-scroll-bar-hover: linear-gradient(to top, #5c094a, #2b14f8);
  --color-btn-play: rgb(248, 248, 248);
  --color-song-wave: linear-gradient(to left, #911387, #300c31);
  --background-progress-thumb: linear-gradient(to top, #6d0d58, #5c094a, #620fa7);
  --main-background: url("https://trunkey2003.github.io/general-img/third-custom-theme-background.jpg");
  --background-dashboard: linear-gradient(to right, #27041f,#5c094aaf, #00000086);
  --background-dashboard-mobile: url("https://trunkey2003.github.io/general-img/third-custom-theme-background.jpg");
  --background-song: linear-gradient(to right, #000000, #44173aa6, #200e38);
  --background-song-active: linear-gradient(to top, #5c094a, #2b14f8);
  --background-song-hover: linear-gradient(to top, #5c094a, #2b14f8);
  --background-modal: linear-gradient(to right, #c31432, #240b36);
  --color-modal: rgb(255, 255, 255);
  --color-note: rgb(190, 186, 186);
  --background-close-btn: linear-gradient(
    to right,
    rgb(218, 132, 132),
    rgb(130, 131, 238)
  );
  --background-download-btn: linear-gradient(
    to right,
    rgb(218, 132, 132),
    rgb(130, 131, 238)
  );
  --background-delete-btn: linear-gradient(
    to right,
    rgb(218, 132, 132),
    rgb(130, 131, 238)
  );
  --background-close-btn-hover: linear-gradient(
    to right,
    rgb(214, 61, 61),
    rgb(30, 33, 219)
  );
  --background-download-btn-hover: linear-gradient(
    to right,
    rgb(214, 61, 61),
    rgb(30, 33, 219)
  );
  --background-delete-btn-hover: linear-gradient(
    to right,
    rgb(214, 61, 61),
    rgb(30, 33, 219)
  );
  --color-btn-close-delete-download: black;
  --color-btn-close-delete-download-hover: white;
  --color-btn-close-modal: white;
  --color-btn-close-modal-hover: rgb(185, 185, 185);
  --background-option-songs-btn: linear-gradient(
    to right,
    rgb(218, 132, 132),
    rgb(130, 131, 238)
  );
  --background-option-songs-btn-hover: linear-gradient(
    to right,
    rgb(214, 61, 61),
    rgb(30, 33, 219)
  );
  --color-option-songs-btn: white;
  --color-option-songs-btn-hover: rgb(255, 255, 255); 
  --color-control-btn: rgb(173, 171, 171);
}
