@import "./volume-button-animation.scss";

.volume-container {
  position: absolute;
  right: 0.18em;
  top: 3.6rem;
  width: 42px;
  height: 42px;
}

.volume-background {
  position: absolute;
  margin: auto;
  background: var(--background-btn-play);
  animation: fromVolume4ToVolume0 0.8s ease-in-out;
  width: 42px;
  height: 42px;
  border-radius: 50%;
}

.volume-background-01 {
  position: absolute;
  margin: auto;
  background: var(--background-btn-play);
  animation: fromVolume0ToVolume1 0.8s ease-in-out;
  top: 5px;
  left: 5px;
  width: 0px;
  height: 0px;
  border-radius: 50%;
}

.volume-background-02 {
  position: absolute;
  margin: auto;
  background: var(--background-btn-play);
  animation: fromVolume1ToVolume2 0.8s ease-in-out;
  top: 4px;
  left: 4px;
  width: 32px;
  height: 32px;
  border-radius: 50%;
}

.volume-background-03 {
  position: absolute;
  margin: auto;
  background: var(--background-btn-play);
  animation: fromVolume2ToVolume3 0.8s ease-in-out;
  top: 3px;
  left: 3px;
  width: 34px;
  height: 34px;
  border-radius: 50%;
}

.volume-background-04 {
  position: absolute;
  margin: auto;
  background: var(--background-btn-play);
  animation: fromVolume3ToVolume4 0.8s ease-in-out;
  top: 2px;
  left: 2px;
  width: 36px;
  height: 36px;
  border-radius: 50%;
}

.volume-icon {
  position: absolute;
  margin-left: 10px;
  line-height: 40px;
  color: white;
  font-size: 20px;
  cursor: pointer;
}
