.add-song-section {
  height: 64px;
  width: 100%;
  background: var(--background-song);
  color: white;
  text-align: center;
  line-height: 64px;
  font-size: 1.5rem; }

.add-song-section:hover {
  background: var(--background-song-active);
  cursor: pointer; }

.search-song-input {
  width: 80%;
  margin-left: 10%; }

.songs-modal-container {
  height: 330px;
  max-height: 330px;
  overflow-y: scroll;
  overflow-x: hidden;
  background-color: black; }

.songs-modal-header {
  display: flex;
  margin-top: 15px;
  background: linear-gradient(to top, #9a9b95, #86c2cc);
  height: 50px;
  border-top-left-radius: 1rem;
  border-top-right-radius: 1rem; }
  .songs-modal-header button {
    font-size: 0.8rem;
    border: none;
    width: 30vw;
    font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
    background: linear-gradient(to bottom, #0a5b74, black);
    height: 40px;
    margin: 5px;
    color: white;
    border-radius: 1rem; }
  .songs-modal-header .btn-active {
    background: linear-gradient(to bottom, #2a3383, black);
    box-shadow: 0 5px 15px rgba(36, 52, 124, 0.918); }
  .songs-modal-header .btn-unactive {
    background: linear-gradient(to bottom, #0a5b74, black); }

.songs-modal {
  position: relative;
  margin: 10px 0;
  display: flex;
  background-color: black;
  border: #5e5d5b solid 2px;
  max-height: 100px;
  width: 100%; }
  .songs-modal .songs-modal-img {
    width: 20%; }
    .songs-modal .songs-modal-img img {
      height: 100%;
      border-radius: 50%; }
  .songs-modal .songs-modal-detail {
    margin-left: auto;
    padding-top: 15px;
    width: 75%; }

.songs-modal:hover {
  background-color: #1d1d1d;
  cursor: pointer; }

.song-modal-detail-button {
  position: absolute;
  top: calc(45% - 10px);
  right: 10%;
  border: none;
  padding: 5px 15px 5px 15px; }

.songs-modal-loading {
  width: 100%;
  height: 100px;
  text-align: center;
  background-color: black; }

.songs-modal-loading h4 {
  line-height: 100px; }

.error img {
  width: 100%; }

.upload-songs-form {
  padding-top: 1.5rem; }
  .upload-songs-form input {
    margin: auto;
    width: 80%; }
  .upload-songs-form button {
    width: 20%;
    margin-left: 70%;
    border-radius: 1rem;
    height: 2rem;
    border: none;
    background: var(--background-close-btn);
    color: white; }
    .upload-songs-form button:hover {
      background: var(--background-close-btn-hover); }
