:root {
    --primary-color: rgb(153, 10, 10);
    --text-color: rgb(255, 255, 255);
    --background-scroll-thumb: #000000;
    --background-scroll-bar: linear-gradient(to left, #200122, #6f0000);
    --background-scroll-bar-hover: linear-gradient(to right, #200122, #6f0000);
    --background-btn-play: linear-gradient(to bottom, #4744dd, #7e1d1d);
    --color-song-wave: linear-gradient(to left, #ffffff, #848be6);
    --color-btn-play: white;
    --background-progress-thumb: linear-gradient(to top, #780206, #061161);
    --main-background: url("https://images.wallpaperscraft.com/image/single/street_night_wet_155637_1920x1080.jpg");
    --background-dashboard: linear-gradient(to right, #780206,#501113, #061161, #2e08da);
    --background-song: linear-gradient(
      90deg,
      rgb(0, 0, 0) 50%,
      rgb(39, 29, 133) 96%
    );
    --color-song: white;
    --background-song-active: linear-gradient(
      90deg,
      rgba(2, 0, 36, 1) 0%,
      rgba(121, 9, 28, 1) 52%,
      rgba(25, 0, 255, 1) 96%
    );
    --color-song-active: rgb(255, 255, 255);
    --background-song-hover: linear-gradient(
      90deg,
      rgba(2, 0, 36, 1) 0%,
      rgba(121, 9, 28, 1) 52%,
      rgba(25, 0, 255, 1) 96%
    );
    --background-modal: linear-gradient(to right, #c31432, #240b36);
    --color-modal: rgb(255, 255, 255);
    --color-note: rgb(190, 186, 186);
    --background-close-btn: linear-gradient(
      to right,
      rgb(218, 132, 132),
      rgb(130, 131, 238)
    );
    --background-download-btn: linear-gradient(
      to right,
      rgb(218, 132, 132),
      rgb(130, 131, 238)
    );
    --background-delete-btn: linear-gradient(
      to right,
      rgb(218, 132, 132),
      rgb(130, 131, 238)
    );
    --background-close-btn-hover: linear-gradient(
      to right,
      rgb(214, 61, 61),
      rgb(30, 33, 219)
    );
    --background-download-btn-hover: linear-gradient(
      to right,
      rgb(214, 61, 61),
      rgb(30, 33, 219)
    );
    --background-delete-btn-hover: linear-gradient(
      to right,
      rgb(214, 61, 61),
      rgb(30, 33, 219)
    );
    --color-btn-close-delete-download: black;
    --color-btn-close-delete-download-hover: white;
    --color-btn-close-modal: white;
    --color-btn-close-modal-hover: rgb(185, 185, 185);
    --background-option-songs-btn: linear-gradient(
      to right,
      rgb(218, 132, 132),
      rgb(130, 131, 238)
    );
    --background-option-songs-btn-hover: linear-gradient(
      to right,
      rgb(214, 61, 61),
      rgb(30, 33, 219)
    );
    --color-option-songs-btn: white;
    --color-option-songs-btn-hover: rgb(255, 255, 255);
  }